@mixin noSelect() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

revo-grid {
  display: block;
  height: 100%;
  font-family: Helvetica, Arial, Sans-Serif, serif;
  font-size: 14px;
  position: relative;

  @include noSelect;

	.footer-wrapper, .header-wrapper {
		width: 100%;

		revogr-data {
			z-index: 3;
		}
  }
  
  revo-dropdown {
    width: 100%;
  }

  .viewports {
    max-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }

  revogr-scroll-virtual {
    position: relative;
    &.vertical, &.horizontal {
      z-index: 3;
    }
  }
}


