@import "../../global/colors";
@import "../../global/_icons";


@mixin noSelect() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

revo-grid {
  display: block;
  height: 100%;
  font-family: Helvetica, Arial, Sans-Serif, serif;
  font-size: 14px;
  position: relative;

  $shadow-top: 0 -1px 0 0 $header-border-color;
  box-shadow: $shadow-top;

  @include noSelect;

	.header-wrapper {
		width: 100%;

		revogr-data {
			box-shadow: 0 4px 4px rgba(black, .05);
			z-index: 3;
		}
	}

	.footer-wrapper {
		width: 100%;

		revogr-data {
			box-shadow: 0 -4px 4px rgba(black, .05);
			z-index: 3;
		}
  }
  
  .viewports {
    max-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
}
