:host {
  display: block;
  height: 100%;
}
.header {
  position: relative;
  height: 30px;
  display: table-cell;
}

.header-wrapper {
  height: 0;
  display: table-row;
}

.viewport-wrapper {
  display: block;
  width: 100%;
  height: 100%;
}

.viewport {
  display: block;
  height: 100%;
  max-width: 100%;
  position: relative;
  float: left;
}

.viewport-layer {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}

.data-cell {
  position: absolute;
  box-sizing: border-box;
  box-shadow: 0 1px 0 0 #b5b5b5, 1px 0 0 0 #b5b5b5;
  height: 100%;
  text-align: center;
}

.row {
  position: absolute;
  width: 100%;
  left: 0;
}
.data-header-cell {
  position: absolute;
  box-sizing: border-box;
  box-shadow: 0 1px 0 0 #b5b5b5, 1px 0 0 0 #b5b5b5;
  height: 100%;
  text-align: center;
}

.horizontal-wrapper {
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.inner-content-table {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
}

.vertical-wrapper {
  display: table-row;
  position: relative;
}


.vertical-inner {
  overflow-y: auto;
  height: 100%;

  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
    -webkit-appearance: none;
  }
}
.vertical-scroll {
  position: absolute;
  right: 0;
  overflow-y: auto;
  overflow-x: visible;
  z-index: 1;
  top: 0;
  bottom: 0;

  > div {
    width: 1px;
  }
}
