@import './revo-grid.common.scss';

$header-size: 30px;
$header-shadow: 0 1px 10px rgba(black, .2);
$default-rows-size: 42px;

revo-grid[theme="default"] {
	revogr-viewport {
		$shadow-top: 0 -1px 0 0 $header-border-color;
		box-shadow: $shadow-top;
	}

	revogr-header {
		text-align: center;
		box-shadow: $header-shadow;
		line-height: $header-size;
		
		.group-row {
			box-shadow: none;

			.data-header-cell {
				color: #9493a2;
			}
		}
		.header-row {
			height: $header-size;

			&:not(.group) {
				font-weight: 600;
			}
		}

		.data-header-cell {
			$shadow-left: -1px 0 0 0 $cell-border-color;
			$shadow-right: -1px 0 0 0 $cell-border-color inset;
			$shadow-bottom: 0 -1px 0 0 $header-border-color inset;
			$shadow-top: 0 -1px 0 0 $header-border-color;
			box-shadow: $shadow-left, $shadow-right, $shadow-top, $shadow-bottom;
		}
	}

	revogr-viewport-scroll {
		&.colPinStart {
			box-shadow: -4px 0 0 rgba(black, .05) inset;
		}

		&.colPinEnd {
			box-shadow: 4px 0 0 rgba(black, .05) inset;
		}
	}

	.header-wrapper revogr-data {
		box-shadow: 0 4px 4px rgba(black, .05);
	}

	.footer-wrapper revogr-data {
		box-shadow: 0 -4px 4px rgba(black, .05);
	}


	revogr-data {
		$cell-shadow-cell: 0 -1px 0 0 $cell-border-color inset, -1px 0 0 0 $cell-border-color inset;
		text-align: center;
		.row {
			line-height: $default-rows-size;
		}
		.data-cell {
			box-shadow: $cell-shadow-cell;
	
			&.disabled {
				background-color: $cell-disabled-bg;
			}
		}
	}
}