$header-size: 30px;
$cell-border-color: #e0e0e0;
$header-border-color: $cell-border-color;

$header-shadow: 0 1px 10px rgba(0,0,0,.2);
$header-shadow-cell: 0 -1px 0 0 $header-border-color inset, -1px 0 0 0 $cell-border-color inset;

$cell-disabled-bg: #f7f7f7;
$cell-shadow-cell: 0 -1px 0 0 $cell-border-color inset, -1px 0 0 0 $cell-border-color inset;

$selection-border: #0d63e8;
$selection-bg: rgba($selection-border, .1);
$tmp-selection-bg: $selection-bg;

revo-grid {
  display: block;
  height: 100%;
  font-family: Helvetica, Arial, Sans-Serif, serif;
  font-size: 14px;
  position: relative;


  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */


  .header {
    position: relative;
    height: $header-size;
    line-height: $header-size;
    display: table-cell;
    box-shadow: $header-shadow;
    font-weight: 600;
    z-index: 1;
  }

  .header-wrapper {
    height: 0;
    display: table-row;
  }

  .viewport-wrapper {
    display: block;
    width: 100%;
    height: 100%;
  }

  .viewport {
    display: block;
    height: 100%;
    max-width: 100%;
    position: relative;
    float: left;
  }

  .viewport-layer {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
  }

  .data-cell {
    position: absolute;
    box-sizing: border-box;
    box-shadow: $cell-shadow-cell;
    height: 100%;
    text-align: center;

    &.disabled {
      background-color: $cell-disabled-bg;
    }
  }

  .row {
    position: absolute;
    width: 100%;
    left: 0;
  }
  .data-header-cell {
    position: absolute;
    box-sizing: border-box;
    box-shadow: $header-shadow-cell;
    height: 100%;
    text-align: center;
  }

  .horizontal-wrapper {
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .inner-content-table {
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
  }

  .vertical-wrapper {
    display: table-row;
    position: relative;
  }


  .vertical-inner {
    overflow-y: auto;
    height: 100%;
    position: relative;

    /* Hide scrollbar for IE and Edge */
    -ms-overflow-style: none;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
      -webkit-appearance: none;
    }
  }
  .vertical-scroll {
    position: absolute;
    right: 0;
    overflow-y: auto;
    overflow-x: visible;
    z-index: 1;
    top: 0;
    bottom: 0;

    > div {
      width: 1px;
    }
  }
}

revogr-overlay-selection {
  display: block;

  .selection-border-range,
  .selection-bg-range,
  .temp-bg-range,
  .focused-cell {
    position: absolute;
    pointer-events:none;
  }

  @mixin selection($s: 1px, $c: $selection-border) {
    box-shadow: (-$s) 0 0 $c inset, $s 0 0 $c inset, 0 (-$s) 0 $c inset, 0 $s 0 $c inset;
    padding: 1px 1px 0 0;
  }

  .selection-border-range {
    @include selection();
  }
  .focused-cell {
    @include selection(2px);
  }

  .selection-bg-range {
    background: $selection-bg;
    z-index: -1;
  }

  .temp-bg-range {
    background-color: $tmp-selection-bg;
  }
}

revogr-edit {
  display: block;

  .edit-input-wrapper {
    position: absolute;
    background-color: #fff;

    input {
      height: 100%;
      width: 100%;
      box-sizing: border-box;
    }
  }
}