dist/
hydrate/
www/
loader/
standalone/
demo/
demo/*
fw/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.history/
.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
packages/
node_modules/
vscode-data.json

$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
