[submodule "packages/vue3"]
	path = packages/vue3
	url = https://github.com/revolist/vue3-datagrid.git
[submodule "packages/angular"]
	path = packages/angular
	url = https://github.com/revolist/angular-datagrid.git
[submodule "packages/vue2"]
	path = packages/vue2
	url = https://github.com/revolist/vue-datagrid.git
[submodule "packages/react"]
	path = packages/react
	url = https://github.com/revolist/react-datagrid.git
[submodule "packages/svelte"]
	path = packages/svelte
	url = https://github.com/revolist/svelte-datagrid.git
[submodule "formats/date"]
	path = formats/date
	url = https://github.com/revolist/revogrid-column-date.git
[submodule "formats/number"]
	path = formats/number
	url = https://github.com/revolist/revogrid-column-numeral.git
[submodule "formats/select"]
	path = formats/select
	url = https://github.com/revolist/revogrid-column-select.git
[submodule "docs"]
	path = docs
	url = https://github.com/revolist/revogrid-docs.git
[submodule "packages/svelte-output-target"]
	path = packages/svelte-output-target
	url = git@github.com:revolist/svelte-output-target.git
