[submodule "revogrid.demo.js"]
	path = revogrid.demo.js
	url = https://github.com/revolist/revogrid.demo.js.git
	branch = gh-pages
[submodule "demo"]
	path = demo
	url = https://github.com/revolist/revogrid.demo.js.git
	branch = gh-pages
