@mixin revoGridDark() {
  color: $font-color-dark;

  .rowHeaders {
    background-color: rgba($el-color-dark, 0.8);
    revogr-data .rgCell {
      color: rgba($font-color-dark, 0.8);
    }
  }

  revogr-edit {
    background-color: $el-color-dark;
  }

  revogr-header {
    .header-rgRow {
      &.group {
        $shadow-bottom: 0 -1px 0 0 $cell-border-color-dark inset;
        box-shadow: $shadow-bottom;
      }

      &:not(.group) {
        $shadow-bottom: 0 -1px 0 0 $cell-border-color-dark inset;
        $shadow-top: 0 -1px 0 0 $cell-border-color-dark;
        box-shadow: $shadow-top, $shadow-bottom;
      }
    }

    .rgHeaderCell {
      &.sortable {
        &:hover {
          background-color: rgba($cell-border-color-dark, 0.5);
        }
      }
      &.focused-cell {
        background: $focused-header-dark;
      }
    }
  }

  .footer-wrapper revogr-data {
    box-shadow: 0 -1px 0 $cell-border-color-dark;
  }

  revogr-data {
    .rgCell {
      color: rgba($font-color-dark, 0.9);
    }

    .rgRow {
      box-shadow: $cell-shadow-cell-dark;
      &.focused-rgRow {
        background-color: $focused-header-dark;
      }
    }
  }

  revogr-viewport-scroll {
    &.colPinStart {
      box-shadow: -1px 0 0 $cell-border-color-dark inset;
    }

    &.colPinEnd {
      box-shadow: -1px 0 0 $cell-border-color-dark;
    }
  }
}
