@use './revo-grid.mixin.scss' as *;
@use './revo-grid.common.scss' as *;

revo-grid[data-rg-theme-base='default'] {
  --rg-theme-font-family: var(
    --revo-grid-font-family,
    Helvetica,
    Arial,
    Sans-Serif,
    serif
  );
  --rg-theme-font-size: var(--revo-grid-font-size, 12px);
  --rg-theme-header-height: var(--revo-grid-header-height, 30px);
  --rg-theme-header-font-size: var(--revo-grid-header-font-size, 12px);
  --rg-theme-header-font-weight: var(--revo-grid-header-font-weight, normal);
  --rg-theme-header-text-transform: var(
    --revo-grid-header-text-transform,
    uppercase
  );
  --rg-theme-header-text-align: var(--revo-grid-header-text-align, center);
  --rg-theme-cell-text-align: var(--revo-grid-cell-text-align, center);
  --rg-theme-header-padding: var(--revo-grid-header-padding, 0);
  --rg-theme-cell-padding: var(--revo-grid-cell-padding, 0);
  border: 1px solid var(--rg-theme-header-border);

  font-size: var(--rg-theme-font-size);

  .rowHeaders revogr-header {
    $shadow-right: -1px 0 0 0 var(--rg-theme-header-border) inset;
    box-shadow: $shadow-right;
  }

  revogr-header {
    $shadow-left: -1px 0 0 0 var(--rg-theme-header-border);
    $shadow-right: -1px 0 0 0 var(--rg-theme-header-border) inset;
    $shadow-bottom: 0 -1px 0 0 var(--rg-theme-header-border) inset;
    $shadow-top: 0 -1px 0 0 var(--rg-theme-header-border);

    text-align: var(--rg-theme-header-text-align);
    line-height: var(--rg-theme-header-height);
    background-color: var(--rg-theme-row-headers-bg);

    .group-rgRow {
      box-shadow: none;

      .rgHeaderCell {
        box-shadow: $shadow-left, $shadow-right, $shadow-top, $shadow-bottom;
      }
    }
    .header-rgRow,
    .group-rgRow {
      text-transform: var(--rg-theme-header-text-transform);
      font-size: var(--rg-theme-header-font-size);
      font-weight: var(--rg-theme-header-font-weight);
      color: var(--rg-theme-header-color);
    }
    .header-rgRow {
      height: var(--rg-theme-header-height);
      box-shadow: $shadow-bottom;
    }

    .rgHeaderCell {
      box-shadow: $shadow-right, $shadow-top, $shadow-bottom;
    }
  }

  .rowHeaders {
    background-color: var(--rg-theme-header-bg);

    $cell-shadow-right: -1px 0 0 0 var(--rg-theme-header-border) inset;
    $cell-shadow-bottom: 0 -1px 0 0 var(--rg-theme-header-border) inset;
    $cell-shadow-left: 1px 0 0 0 var(--rg-theme-header-border) inset;
    $cell-shadow-right: 1px 0 0 0 var(--rg-theme-header-border) inset;

    revogr-data {
      .rgCell {
        color: var(--rg-theme-row-headers-color);

        &:first-child {
          box-shadow: $cell-shadow-bottom;
        }
        &:not(:first-child) {
          box-shadow: $cell-shadow-bottom, $cell-shadow-right;
        }
        &:last-child {
          border-right: 1px solid var(--rg-theme-header-border);
        }
      }

      revogr-header {
        box-shadow: $cell-shadow-bottom;
      }
    }
  }

  revogr-viewport-scroll {
    &.colPinStart {
      revogr-data .rgRow .rgCell:last-child {
        $cell-shadow-cell:
          0 -1px 0 0 var(--rg-theme-cell-border) inset,
          -1px 0 0 0 var(--rg-theme-header-border) inset;
        box-shadow: $cell-shadow-cell;
      }
      .footer-wrapper revogr-data .rgRow:first-child .rgCell {
        $cell-shadow-cell:
          0 1px 0 0 var(--rg-theme-header-border) inset,
          -1px 0 0 0 var(--rg-theme-header-border) inset;
        box-shadow: $cell-shadow-cell;
      }
    }

    &.colPinEnd {
      &,
      revogr-header {
        box-shadow: 1px 0 0 var(--rg-theme-header-border) inset;
      }
    }
  }

  .footer-wrapper revogr-data .rgRow:first-child .rgCell {
    $cell-shadow-top: 0 1px 0 0 var(--rg-theme-cell-border) inset;
    $cell-shadow-right: -1px 0 0 0 var(--rg-theme-cell-border) inset;
    $cell-shadow-bottom: 0 -1px 0 0 var(--rg-theme-cell-border) inset;
    box-shadow: $cell-shadow-top, $cell-shadow-right, $cell-shadow-bottom;
  }

  revogr-data {
    $cell-shadow-bottom: 0 -1px 0 0 var(--rg-theme-cell-border) inset;
    $cell-shadow-right: -1px 0 0 0 var(--rg-theme-cell-border) inset;
    text-align: var(--rg-theme-cell-text-align);

    .revo-draggable {
      float: left;
    }

    .rgRow {
      line-height: var(--rg-theme-row-size, 27px);
    }
    .rgCell {
      padding: var(--rg-theme-cell-padding);
      box-shadow: $cell-shadow-bottom, $cell-shadow-right;
    }
  }
}
