@mixin revoGrid($header-height, $default-rows-size) {
  font-family: var(--rg-theme-font-family);
  revogr-header {
    color: var(--rg-theme-header-color);
    background-color: var(--rg-theme-header-bg);
    line-height: $header-height;
    font-weight: var(--rg-theme-header-font-weight);
    text-align: var(--rg-theme-header-text-align);

    .rgHeaderCell {
      padding: var(--rg-theme-header-padding);
      text-overflow: ellipsis;
    }

    .header-rgRow {
      height: $header-height;
    }
  }

  .rowHeaders {
    color: var(--rg-theme-row-headers-color);
    background-color: var(--rg-theme-row-headers-bg);
  }

  revogr-data {
    text-align: var(--rg-theme-cell-text-align);

    .rgRow {
      line-height: $default-rows-size;
    }

    .rgCell {
      padding: var(--rg-theme-cell-padding);
      box-shadow: -1px 0 0 0 var(--rg-theme-cell-vertical-border) inset;
    }
  }
}
