@mixin revoGridDark() {
  $font-color: #d8d8d8;
  color: $font-color;

  $cell-border-color: #404040;
  $cell-shadow-cell: 0 -1px 0 0 $cell-border-color inset;
  $focused-header: rgba(#7394a0, 0.15);

  .rowHeaders {
    $el-color: #28272b;
    background-color: rgba($el-color, 0.8);
    revogr-data .rgCell {
      color: rgba($font-color, 0.8);
    }
  }
  revogr-header {
    .header-rgRow {
      &.group {
        $shadow-bottom: 0 -1px 0 0 $cell-border-color inset;
        box-shadow: $shadow-bottom;
      }

      &:not(.group) {
        $shadow-bottom: 0 -1px 0 0 $cell-border-color inset;
        $shadow-top: 0 -1px 0 0 $cell-border-color;
        box-shadow: $shadow-top, $shadow-bottom;
      }
    }

    .rgHeaderCell {
      &.sortable {
        &:hover {
          background-color: rgba($cell-border-color, 0.5);
        }
      }
      &.focused-cell {
        background: $focused-header;
      }
    }
  }

  .footer-wrapper revogr-data {
    box-shadow: 0 -1px 0 $cell-border-color;
  }

  revogr-focus-row {
    background-color: $focused-header;
  }
  revogr-data {
    .rgCell {
      color: rgba($font-color, 0.9);
    }

    .rgRow {
      box-shadow: $cell-shadow-cell;
    }

    .revo-draggable {
      > .revo-drag-icon {
        $drag-icon-color: rgba($font-color, 0.5);
        background-color: $drag-icon-color;
      }

      &:hover {
        > .revo-drag-icon {
          $drag-icon-color: rgba($font-color, 0.7);
          background-color: $drag-icon-color;
        }
      }
    }
  }

  revogr-viewport-scroll {
    &.colPinStart {
      box-shadow: -1px 0 0 $cell-border-color inset;
    }

    &.colPinEnd {
      box-shadow: -1px 0 0 $cell-border-color;
    }
  }
}
