@import './revo-grid.mixin.scss';

revo-grid[theme='default'],
revo-grid:not([theme]) {
  $header-size: 30px;
  $header-bg: hsl(var(--background));
  $header-color: hsl(var(--foreground));
  $header-border-color: hsl(var(--border));
  $default-rows-size: 27px;
  $cell-border-color: hsl(var(--border));
  $focused-header: hsl(var(--muted));
  border: 1px solid $header-border-color;

  font-size: 12px;

  .rowHeaders revogr-header {
    $shadow-right: -1px 0 0 0 $header-border-color inset;
    box-shadow: $shadow-right;
  }

  revogr-header {
    $shadow-left: -1px 0 0 0 $header-border-color;
    $shadow-right: -1px 0 0 0 $header-border-color inset;
    $shadow-bottom: 0 -1px 0 0 $header-border-color inset;
    $shadow-top: 0 -1px 0 0 $header-border-color;

    text-align: center;
    line-height: $header-size;
    background-color: $header-bg;

    .group-rgRow {
      box-shadow: none;
    }
    .header-rgRow,
    .group-rgRow {
      text-transform: uppercase;
      font-size: 12px;
      color: $header-color;
    }
    .header-rgRow {
      height: $header-size;
      box-shadow: $shadow-bottom;
    }

    .rgHeaderCell {
      box-shadow: $shadow-right, $shadow-top, $shadow-bottom;

      &.focused-cell {
        background: $focused-header;
      }
    }
  }

  .rowHeaders {
    background-color: $header-bg;

    $cell-shadow-right: -1px 0 0 0 $header-border-color inset;
    $cell-shadow-bottom: 0 -1px 0 0 $header-border-color inset;
    $cell-shadow-left: 1px 0 0 0 $header-border-color inset;
    $cell-shadow-right: 1px 0 0 0 $header-border-color inset;

    revogr-data {
      .rgCell {
        color: $header-color;

        &:first-child {
          box-shadow: $cell-shadow-bottom;
        }
        &:not(:first-child) {
          box-shadow: $cell-shadow-bottom, $cell-shadow-right;
        }
        &:last-child {
          border-right: 1px solid $header-border-color;
        }
      }

      revogr-header {
        box-shadow: $cell-shadow-bottom;
      }
    }
  }

  revogr-viewport-scroll {
    &.colPinStart {
      revogr-data .rgRow .rgCell:last-child {
        $cell-shadow-cell:
          0 -1px 0 0 $cell-border-color inset,
          -1px 0 0 0 $header-border-color inset;
        box-shadow: $cell-shadow-cell;
      }
      .footer-wrapper revogr-data .rgRow:first-child .rgCell {
        $cell-shadow-cell:
          0 1px 0 0 $header-border-color inset,
          -1px 0 0 0 $header-border-color inset;
        box-shadow: $cell-shadow-cell;
      }
    }

    &.colPinEnd {
      &,
      revogr-header {
        box-shadow: 1px 0 0 $header-border-color inset;
      }
    }
  }

  .footer-wrapper revogr-data .rgRow:first-child .rgCell {
    $cell-shadow-top: 0 1px 0 0 $cell-border-color inset;
    $cell-shadow-right: -1px 0 0 0 $cell-border-color inset;
    $cell-shadow-bottom: 0 -1px 0 0 $cell-border-color inset;
    box-shadow: $cell-shadow-top, $cell-shadow-right, $cell-shadow-bottom;
  }

  revogr-data {
    $cell-shadow-bottom: 0 -1px 0 0 $cell-border-color inset;
    $cell-shadow-right: -1px 0 0 0 $cell-border-color inset;
    text-align: center;

    .revo-draggable {
      float: left;
    }

    .rgRow {
      line-height: $default-rows-size;
      &.focused-rgRow {
        background-color: $focused-header;
      }
    }
    .rgCell {
      box-shadow: $cell-shadow-bottom, $cell-shadow-right;

      &.disabled {
        background-color: $cell-shadow-bottom, $cell-shadow-right;
      }
    }
  }
}
