.revo-button {
  $h: 32px;

  position: relative;
  overflow: hidden;
  color: #fff;
  background-color: #6200ee;
  height: $h;
  line-height: $h;
  padding: 0 15px;
  outline: 0;
  border: 0;
  border-radius: 7px;
  box-sizing: border-box;
  cursor: pointer;

  &.green {
    $bg: #009037;
    background-color: $bg;
    border: 1px solid darken($color: $bg, $amount: 5);
  }

  &.red {
    $bg: #E0662E;
    background-color: $bg;
    border: 1px solid darken($color: $bg, $amount: 5);
  }

  &:disabled,
  &[disabled] {
    cursor: not-allowed !important;
    filter: opacity(0.35) !important;
  }

  &.light {
    $br-color: #cedefa;
    $color: #000;
    border: 1px solid $br-color;
    line-height: $h - 2;
    background: none;
    color: $color;
    box-shadow: none;
  }

  
  
}
