.revo-button {
  $h: 32px;

  position: relative;
  overflow: hidden;
  color: var(--rg-theme-button-text);
  background-color: var(--rg-theme-button-bg);
  height: $h;
  line-height: $h;
  padding: 0 15px;
  outline: 0;
  border: 0;
  border-radius: 7px;
  box-sizing: border-box;
  cursor: pointer;

  &.green {
    background-color: var(--rg-theme-button-success-bg);
  }

  &.red {
    background-color: var(--rg-theme-button-danger-bg);
  }

  &:disabled,
  &[disabled] {
    cursor: not-allowed !important;
    filter: opacity(0.35) !important;
  }

  &.outline {
    border: 1px solid var(--rg-theme-button-outline-border);
    line-height: $h - 2;
    background: none;
    color: var(--rg-theme-button-outline-text);
    box-shadow: none;
  }
}
