revogr-edit {
  display: block;
  position: absolute;
  background-color: var(--revo-grid-background, #fff);

  input {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--revo-grid-background, transparent);
  }

  revo-dropdown {
    height: 100%;

    &.shrink {
      fieldset legend > span {
        display: none;
      }
    }
  }
}
