$header-size: 30px;

revogr-header {
	position: relative;
	line-height: $header-size;
	z-index: 5;
	display: block;

	.data-header-cell,
	.grouped-cell {
		position: absolute;
		box-sizing: border-box;
		height: 100%;
		z-index: 1;
	}

	.header-row {
		height: $header-size;
		display: block;
		position: relative;

		&.group {
			box-shadow: none;
			z-index: 0;
		}
	}

	.group-row {
		position: relative;

		.data-header-cell {
			color: #9493a2;
			font-weight: normal;
		}
	}
}