revogr-overlay-selection {
	display: block;
	position: relative;
	width: 100%;

	.autofill-handle {
		$handler-size: 10px;
		position: absolute;
		width: $handler-size;
		height: $handler-size;
		background: $selection-border;
		margin-left: -$handler-size + 2;
		margin-top: -$handler-size/2 + 1;
		border: 1px solid white;
		box-sizing: border-box;
		z-index: 10;
		cursor: crosshair;
	}

	.selection-border-range,
	.temp-bg-range,
	.focused-cell {
		position: absolute;
		pointer-events:none;
		z-index: 9;
	}

	@mixin selection($s: 1px, $c: $selection-border) {
		box-shadow: (-$s) 0 0 $c inset, $s 0 0 $c inset, 0 (-$s) 0 $c inset, 0 $s 0 $c inset;
	}

	.selection-border-range {
		@include selection();
	}
	.focused-cell {
		@include selection(1px);
	}

	.temp-bg-range {
		border: 1px solid red;
		box-sizing: border-box;
	}

	revogr-edit {
		z-index: 10;
	}
}
