revogr-scroll-virtual {
  $min-size: 20px;

  // show scroll only for 1 sec
  &.autohide {
    position: absolute;
    z-index: 100 !important;

    &.vertical {
      right: 0;
      top: 0;
      min-width: $min-size !important;
    }

    &.horizontal {
      bottom: 0;
      left: 0;
      min-height: $min-size !important;
    }
  }

  &.vertical {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;

    // show autohide on hover
    &.hidden-scroll:hover {
      min-width: $min-size !important;
    }

    > div {
      width: 1px;
    }
  }

  &.horizontal {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;

    // show autohide on hover
    &.hidden-scroll:hover {
      min-height: $min-size !important;
    }

    > div {
      height: 1px;
    }
  }
}
