@mixin revoGrid($header-height, $default-rows-size) {
  font-family: Nunito, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  revogr-header {
    line-height: $header-height;
    font-weight: 600;
    text-align: left;

    .data-header-cell {
      padding: 0 15px;
      text-overflow: ellipsis;
    }

    .header-row {
      height: $header-height;
    }
  }

  revogr-data {
    text-align: left;

    .row {
      line-height: $default-rows-size;
    }

    .data-cell {
      padding: 0 15px;
    }
  }

  // properties to auto-stretch grid
  .viewports {
    width: 100%;
  }
}
