@import './revo-grid.mixin.scss';

revo-grid[theme='default'] {
  $header-size: 30px;
  $header-bg: #f8f9fa;
  $header-color: #61656a;
  $header-border-color: #c0c0c0;
  $default-rows-size: 27px;
  $cell-border-color: #e2e3e3;
  $focused-header: rgba(#e9eaed, 0.5);

  font-size: 12px;

  revogr-header {
    text-align: center;
    line-height: $header-size;
    background-color: $header-bg;

    .group-row {
      box-shadow: none;
    }
    .header-row,
    .group-row {
      text-transform: uppercase;
      font-size: 12px;
      color: $header-color;
    }
    .header-row {
      height: $header-size;
    }

    .data-header-cell {
      $shadow-left: -1px 0 0 0 $header-border-color;
      $shadow-right: -1px 0 0 0 $header-border-color inset;
      $shadow-bottom: 0 -1px 0 0 $header-border-color inset;
      $shadow-top: 0 -1px 0 0 $header-border-color;
      box-shadow: $shadow-left, $shadow-right, $shadow-top, $shadow-bottom;

      &.focused-cell {
        background: $focused-header;
      }
    }
  }

  revogr-viewport-scroll {
    &.rowHeaders {
      background-color: $header-bg;
      revogr-data .data-cell {
        $cell-shadow-bottom: 0 -1px 0 0 $header-border-color inset;
        $cell-shadow-right: -1px 0 0 0 $header-border-color inset;
        color: $header-color;
        box-shadow: $cell-shadow-bottom, $cell-shadow-right;
      }

      revogr-header {
        $cell-shadow-right: -1px 0 0 0 $header-border-color inset;
        $shadow-bottom: 0 -1px 0 0 $header-border-color inset;
        box-shadow: $shadow-bottom, $cell-shadow-right;
      }
    }
    &.colPinStart {
      revogr-data .row .data-cell:last-child {
        $cell-shadow-cell: 0 -1px 0 0 $cell-border-color inset, -1px 0 0 0 $header-border-color inset;
        box-shadow: $cell-shadow-cell;
      }
      .footer-wrapper revogr-data .row:first-child .data-cell {
        $cell-shadow-cell: 0 1px 0 0 $header-border-color inset, -1px 0 0 0 $header-border-color inset;
        box-shadow: $cell-shadow-cell;
      }
    }

    &.colPinEnd {
      &,
      revogr-header {
        box-shadow: 1px 0 0 $header-border-color inset;
      }
    }
  }

  .footer-wrapper revogr-data .row:first-child .data-cell {
    $cell-shadow-top: 0 1px 0 0 $cell-border-color inset;
    $cell-shadow-right: -1px 0 0 0 $cell-border-color inset;
    $cell-shadow-bottom: 0 -1px 0 0 $cell-border-color inset;
    box-shadow: $cell-shadow-top, $cell-shadow-right, $cell-shadow-bottom;
  }

  revogr-data {
    $cell-shadow-bottom: 0 -1px 0 0 $cell-border-color inset;
    $cell-shadow-right: -1px 0 0 0 $cell-border-color inset;
    text-align: center;
    .row {
      line-height: $default-rows-size;

      &.focused-row {
        background-color: $focused-header;
      }
    }
    .data-cell {
      box-shadow: $cell-shadow-bottom, $cell-shadow-right;

      &.disabled {
        background-color: $cell-shadow-bottom, $cell-shadow-right;
      }
    }
  }
}
